body{
    margin: 0;
    font-family: sans-serif;
    background-color: #E5EFFA;
    color: #e2e2e2;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    background: #42c;
    border-bottom: 2px solid #ccc;
    position: fixed;
    top: 0;
    z-index: 20;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo img{
    width: 80px;
    cursor: pointer;
    transition: all 0.3s;
}

.header-logo img:hover{
    transform: scale(1.1);
}

.header-ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header-ul li{
    padding: 0 20px;
    transition: all 0.3s;
}

.header-ul li:hover{
    transform: scale(1.1);
}

.header-ul a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.header-ul a:hover{
    color: #fffa;
}

.contenedor-tarjetas{
    margin-top: 10rem;
    max-width: 750px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    max-width: 320px;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background: #42c;
    box-shadow: 0 0 45px 0 #52cd;
    transition: all 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.card_img{
    width: 50%;
    border-radius: 50%;
}

.card_description{
    text-align: justify;
    font-size: 1rem;
    display: block;
}

@media screen and (max-width: 500px) {
    .header-nav {
        flex-direction: column;
    }  
}
